{% extends 'account/base.html' %}

{% load i18n %}

{% block head_title %}{% trans 'Sair' %}{% endblock %}

{% block content %}
<h3 class="mb-2">{% trans 'Sair' %}</h3>

<p>
  {% blocktrans trimmed %}
  Tem certeza que deseja sair?
  {% endblocktrans %}
</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <div class="flex justify-end">
    <button class="btn btn-primary">
      {% trans 'Sair' %}
    </button>
  </div>
</form>
{% endblock %}
